
<!-- ----- début fragmentGenealogieMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router.php?action=genealogieAccueil">Ziwei GONG</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">FAMILLE <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router.php?action=famReadAll">Liste des familles</a></li>
                    <li><a href="router.php?action=addFamille">Ajout d'une famille</a></li>
                    <li><a href="router.php?action=famReadName">Selection d'une famille</a></li>
                </ul>
            </li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">EVENEMENT <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router.php?action=eveReadAll">Liste des evenements </a></li>
                    <li><a href="router.php?action=addEve">Ajout d'un evenement</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">LIEN <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router.php?action=lienReadAll">Liste des liens </a></li>
                    <li><a href="router.php?action=addLienP">Ajout d'un lien Parental </a></li>
                    <li><a href="router.php?action=addLienU">Ajout d'un lien Union </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">INDIVIDU<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router.php?action=indReadAll">Liste des individus </a></li>
                    <li><a href="router.php?action=addInd">Ajout d'un individu </a></li>
                    <li><a href="router.php?action=pageInd">Page d'un individu </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">DOCUMENTATION<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router.php?action=Doc">Proposition d'améloration</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentGenealogieMenu -->

